apiVersion: v1
kind: Secret
metadata:
  name: sqlserver-secret
  namespace: fiap-agro
type: Opaque
stringData:
  SA_PASSWORD: "FiapAgro2026@"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sqlserver-pvc
  namespace: fiap-agro
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sqlserver
  namespace: fiap-agro
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sqlserver
  template:
    metadata:
      labels:
        app: sqlserver
    spec:
      containers:
        - name: sqlserver
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: sqlserver-secret
                  key: SA_PASSWORD
          volumeMounts:
            - name: mssql-data
              mountPath: /var/opt/mssql
      volumes:
        - name: mssql-data
          persistentVolumeClaim:
            claimName: sqlserver-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: sqlserver
  namespace: fiap-agro
spec:
  selector:
    app: sqlserver
  ports:
    - port: 1433
      targetPort: 1433